:root{
    --azul: #132042;
    --dourado: #E5D08F
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}
* {
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: white;
}

#background-home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
#background-home img{
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 75px);
 }
#header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: -5%;
}

#background-home h2,#background-home p{
    width: 40%;
    margin: 0;
}
#background-home h2{
    font-size: 4em;
}
#background-home p{
    font-size: 1.5em;
}

#mission {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 75px; 
    margin-left: 75px; 
    margin-top: 75px; 

}

#mission img {
    height: calc(150px + 10vw);
}
#mission-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
#mission-content {
    width: 50%;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#mission-content h3 {
    font-size: 4em;
    text-align: center;
}
#mission-content p{
    font-size: 1.5em;
    margin: 0;
    text-align: justify;
}

.button-style{
    background-color: var(--azul);
    padding: 20px 20%;
    border-radius: 10px;
    margin-top: 20px;
    white-space: nowrap;
    font-size: calc(.2em + 1.1vw);
    font-weight: 600;
    cursor: pointer;
}
.mb-50 {
    margin-bottom: 50px;
}

.line-detail {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line-detail div {
    height: 5px;
    background-color: var(--dourado);
    width: 20%;
}

.line-detail-90 {
    margin-top:100px;
    justify-content: center;
}
.line-detail-90 div {

    width: 90%;
}

#services {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

#services-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;


}
#services-title h3 {
    font-size: 4em;
    border-bottom: 5px solid var(--dourado);
}
#services-title-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    background-color: var(--azul);

}
#services-title-sobre h3 {
    font-size: 4em;
    color: white;
}

#services-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#services-cards {
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: space-evenly;
    
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8em;
    text-align: center;
    
}

.services-card-image{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 10px solid #31416c;

    display: flex;
    align-items: center;
    justify-content: center;
}
.services-card-image img {
    height: 75px;
}

.services-card strong {
    font-size: 1.5em;
    margin-top: 20px;
}

#services-button {
    width: 10%;
}

#benefits {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#benefits h3 {
    font-size: 3em;
    text-align: center;

}

#benefits ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#benefits li {
    padding-top: 10px;
}


#benefits p,
#benefits ul li {
    font-size: 1.2em;
}

/* Carrossel */
.carousel-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 75px);
    overflow: hidden;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1em; /* Ajuste o tamanho da fonte */
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botões do carrossel */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2em;
    z-index: 10;
}

.carousel-btn.prev {
    left: 20px;
}

.carousel-btn.next {
    right: 20px;
}

#header-title {
    position: absolute;
    top: 25%;
    left: 10%; /* Posiciona o texto conforme o layout original */
    width: 80%;
}

#header-title h2 {
    font-size: 4em;
    margin: 0;
}

#header-title p {
    font-size: 1.5em;
    margin-top: 20px;
}

#header-title-c2 {
    position: absolute;
    top: 25%;
    left: 10%; /* Posiciona o texto conforme o layout original */
    width: 80%;
}

#header-title-c2 h2 {
    font-size: 4em;
    margin: 0;
}

#header-title-c2 p {
    font-size: 1.5em;
    margin-top: 20px;
}

#sobre {
    margin: 10px 150px;
    padding: 10px;
}

#sobre h3 {
    margin: 0;
    text-align: center; /* Centraliza o título */
    font-size: 5em; /* Define o tamanho da fonte do título (ajuste conforme necessário) */
    font-style: italic; /* Torna o texto em itálico */
}
#sobre p {
    margin-top: 40px;
    line-height: 1.6;
    font-size: 1.5em; /* Define o tamanho da fonte do título (ajuste conforme necessário) */

}

#p-sobre-ultimo {
    margin-bottom: 100px

}
.social-icon {
    width: 15px;
    vertical-align: middle; /* Alinha verticalmente o ícone com o texto */
    margin-right: 3px; /* Espaço entre o ícone e o texto */
    display: inline-block;
    margin-top: -2px
}


@media (max-width: 768px) {
    #topo {
        height:40vh;
        }
    .carousel-slide {
        margin-top: 30px;
        height: 40vh; /* Ajuste a altura do carrossel para telas menores */
    }
    .carousel-slide img{
        height: 50vh
    }

    .a-car {
        margin:0;
        padding:0;
    }

    #header-title, #header-title-c2 {
        top: 15%; /* Ajuste a posição vertical do texto */
        left: 5%;
        width: 90%;
    }
    #header-title h2, #header-title-c2 h2 {
        font-size: 6vw;
        margin-top: 4vw;
        text-align:center;
        padding: 0 10px;
        height:40%;
        margin-bottom:5vw;
    }
    
    #header-title p, #header-title-c2 p {
        text-align:center;
        font-size: 1em;
        
    }
    #mission {
        flex-direction: column;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    #mission-content h3 {
        font-size: 1.5em; /* Ajuste o tamanho da fonte */
    }
    #mission img {
        height: 150px; /* Ajuste o tamanho da imagem */
    }

    #mission-content {
        width: 100%;
        margin-left: 0;
    }
    .button-style {
        font-size: 1em;
    }
    #mission-content p {
        font-size: 0.9em; /* Ajuste o tamanho da fonte */
        margin-top: 20px;
        height:20vh
    }
    #services {
        padding-top: 0;
    }
    #services-cards {
        flex-direction: column;
    }
    #services-title{
        font-size: 0.5em;
        height:9vh;
    }
    .services-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .services-card-image {
        height: 100px;
        width: 100px;
    }
    .line-detail-90 {
        margin-top: 20px;
    }

    .services-card strong {
        font-size: 1.2em;
    }
    .carousel-btn {
        font-size: 1.5em; /* Reduza o tamanho dos botões */
        padding: 8px;
        margin-top: -200px;
    }
    #sobre {
        margin: 10px 10px; /* Reduza ainda mais a margem lateral */
    }

    #sobre h3 {
        font-size: 1.8em; /* Ajuste o tamanho da fonte */
    }

    #sobre p {
        font-size: 0.9em; /* Ajuste o tamanho da fonte */
        text-align: center;
    }
    #benefits h3 {
        font-size: 2em;
    }
    #benefits ul li {
        font-size: 1em;
    }
    #p-sobre-ultimo {
        margin-bottom: 20px;
    }
   
}
#nossa-equipe-2p {
    margin-bottom:50px;
}

#form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    margin: 20px 0;

}
#form input {
    width: 50em;

}
.formtitle {
    font-size: 3em;
    margin-top: 20px;

    margin-bottom: 20px;
}

.textwhite {
    color: white;
}


#form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}